@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Elevador</h1>
    <p>Nesta pagina você encontra a documentação referente ao Projeto Sistema de Elevador em C# feito para a conclusão do Curso C# da Samsung Ocean Brasil</p>
</div>
<div class="text-center">
    <h2 class="display-5">Pricipais funcionalidades</h2>
    <p>O sitema de Elevador possui as funções de Entrar e Sair para os Passageiros e de Subir e Descer os Andares </p>
</div>
